@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto:wght@100;400&display=swap');

body {
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 35% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    grid-column: 1/2;
    grid-row: 1/2;
}

.title-1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 4em;
    color: #BDBDBD;
}

.title-2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: #333333;
}

.information {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 221.81px;
    border: 0 none;
}

.company-name {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.company-adress {
    margin-bottom: 15%;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.co-ordinates {
    margin-bottom: 15%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.mail-adress {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}


button {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 221.81px;
    height: 71px;
    margin-top: 5%;
    background-color: #2C2C2C;
    color: white;
}

img {
    grid-area: 1/2/4/3;
    margin-top: 32px;
    margin-bottom: 91px;
    margin-left: 100px;
}

@media screen and (min-width:768px) and (max-width:1023) {
    .container {
        display: grid;
        grid-template-columns: 35% 45%;
        grid-template-rows: 1fr 1fr 1fr;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer {
        display: none;
    }


}

@media screen and (max-width:767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 25vh 10vh 40vh;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    img {
        grid-area: 4/1/5/2;
        max-width: 100%;
        margin-top: 32px;
        margin-bottom: 91px;
        margin-left: 0;
    }


    .footer {
        display: none;
    }
}