@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto:wght@100;400&display=swap');

.container {
    display: grid;
    grid-template-columns: 35% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    /* gap: 2rem; */
}

.title {
    grid-column: 1/2;
    grid-row: 1/2;
}

.title-1 {
    border: 1px solid red;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 4em;
    color: #BDBDBD;
}

.title-2 {
    border: 1px solid red;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: #333333;
}

.information {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 221.81px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    border: 0 none;
}


button {
    grid-column: 1/2;
    grid-row: 3/4;
    /* width: 90%; */
    width: 221.81px;
    height: 71px;
    background-color: #2C2C2C;
    color: white;
}

img {
    grid-area: 1/2/4/3;
    margin-top: 32px;
    margin-bottom: 91px;
    margin-left: 100px;
}

@media screen and (min-width:768px) and (max-width:1023) {
    .container {
        display: grid;
        grid-template-columns: 35% 45%;
        grid-template-rows: 1fr 1fr 1fr;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        /* gap: 2rem; */
    }

    .footer {
        display: none;
    }


}

@media screen and (max-width:767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 25vh 10vh 40vh;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        /* gap: 2rem; */
    }

    img {
        grid-area: 4/1/5/2;
        max-width: 100%;
        margin: 10px;
    }


    .footer {
        display: none;
    }
}


.footer {
    background-color: #2C2C2C;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-left: 116px;
    padding-top: 58px;
    padding-right: 218px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 60px;
}