@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.woff);
    src: url(./fonts/Roboto-Black.woff2);
    src: url(./fonts/Roboto-Regular.woff);

} 
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.footer {
    background-color:#2C2C2C ;
}
.footer_section {
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 58px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    display: flex;
    justify-content: space-between;
    color:#FFFFFF; 
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    height: 200px;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 56px;
}
.contacts__list {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-item {
    color:#FFFFFF;

}
.contacts__list-item {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.media__list {
    width: 150px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.text_footer {
display: flex;
justify-content: center;
padding: 2.5em;
}

.text3 {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    text-align: start;
    padding-bottom: 25px;
}
.text4 {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    line-height: 146%;
    text-align: start;
    padding-bottom: 16px;
}
