
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto:wght@100;400&display=swap');
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.main {

    margin-left: 7%;
    margin-right: 7%;
    margin-top: 92px;
}


.photos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 260px);
    gap:2rem; 
    margin-top: 60px;
    margin-bottom: 75px;
}
.image1 {
    background-image: url(/assets/images/Rectangle22.png);
    background-repeat: no-repeat;
}
.image2 {
    background-image: url(/assets/images/Rectangle23.png);
    background-repeat: no-repeat;
}
.image3 {
    background-image: url(/assets/images/Rectangle24.png);
    background-repeat: no-repeat;
}
.image4 {
    background-image:url(/assets/images/Rectangle25.png);
    background-repeat: no-repeat;
}
.image5 {
    background-image: url(/assets/images/Rectangle26.png);
    background-repeat: no-repeat;
}
.image6 {
    background-image: url(/assets/images/Rectangle27.png);
    background-repeat: no-repeat;
}
.image7 {
    background-image: url(/assets/images/Rectangle28.png);
    background-repeat: no-repeat;
}
.image8 {
    background-image: url(/assets/images/Rectangle29.png);
    background-repeat: no-repeat;
}
.image9 {
    background-image: url(/assets/images/Rectangle30.png);
    background-repeat: no-repeat;
}
.image10 {
    background-image: url(/assets/images/Rectangle31.png);
    background-repeat: no-repeat;
}
.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-right: 70%;
    margin-bottom: 110px;
}
.text1 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 4em;
    color: #BDBDBD;
}

.text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: #333333;
}
.text3 {
    font-style: bold;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    text-align: start;
    padding-bottom: 25px;
}
.text4 {
    font-style: medium;
    font-size: 14px;
    line-height: 24px;
    line-height: 146%;
    text-align: start;
    padding-bottom: 16px;
}
@media screen and (max-width:1023px) {
    .photos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 260px);
        gap:3rem; 
        margin-top: 60px;
        margin-bottom: 75px;
    }

}
@media screen and (max-width:767px) {
    .photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 260px);
        gap:3rem; 
        margin-top: 60px;
        margin-bottom: 75px;
    }

    .footer {
        display: none;
    }
}








