@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.woff);
    src: url(./fonts/Roboto-Black.woff2);
    src: url(./fonts/Roboto-Regular.woff);

}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
 

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top:  29px;
    margin-left: 7%;
    margin-right: 7%;
    
    
}

.menu__list {
    width: 700px;
    display: flex;
    justify-content:space-between;
    list-style: none;
    margin-right:269px ;
    margin-left: 330px;

    
}
.menu__list-item1 {
    color: black;
    font-size: 12px;
    
}
.menu__list-item1:hover {
    border-bottom:solid grey 1px;
    border-top:solid grey 1px;
}


.menu__list-item {
    color: black;
    font-size: 12px;
}