*,
*:after,
*:before {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.woff);
}

.main {

}

.main__poster {
    display: flex;
}

.main__poster-title {
    width: 30%;
}