@font-face {
    font-family: Roboto-bold;
    src: url(/Architect-/fonts/Roboto-Bold.woff);
}

@font-face {
    font-family: Roboto;
    src: url(/Architect-/fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: Roboto-black;
    src: url(/Architect-/fonts/Roboto-Black.woff2);
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 29px;
}

.title-1 {
    border: 1px solid red;
    margin-top: 63px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.title-2 {
    border: 1px solid red;
    margin-top: 0;
    margin-bottom: 693px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}


.footer {
    background-color: #2C2C2C;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-left: 116px;
    padding-top: 58px;
    padding-right: 218px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 60px;
}